# Python
__pycache__/
*.py[cod]
*.so
*.pyd
*.egg-info/
.eggs/
build/
dist/
# *.log

# Jupyter notebooks
.ipynb_checkpoints/
*.ipynb~

# VSCode / IDEs
.vscode/
.idea/

# Sphinx / mkdocs builds
_site/
docs/_build/

# OS
.DS_Store
Thumbs.db

# Custom project
# logs/
*.xlsx
*.png
!*-C.png
*.svg
*.pdf
!doc-latex/*.pdf

# Swap and temporary
*~
*.swp
*.swo

